<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <title>REYN!</title>
  </head>
  <body>
    <div class="d-flex align-items-center min-vh-100">
      <div class="container text-center">
        <p>
          <h2>
            Please check the console for the real time data
          </h2>
        </p>
        <p>
            Below you'll find the summation of UNO and average of DOS values generated every minute
        </p>
        <br />
        <div>
          <table class="table" style="margin: auto;width:90% !important;">
            <thead class="thead-dark">
              <tr>
                <th scope="col">App Name</th>
                <th scope="col">Summation UNO</th>
                <th scope="col">Average DOS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th id="app-name" scope="row"></th>
                <td id="sum-uno">Waiting for response..</td>
                <td id="avg-dos">Waiting for response..</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
   
    <script>
      let subscribers = {};
      const DPSWebsocket = new WebSocket(
        "ws://localhost:8001/dps"
      );
      const AGGWebsocket = new WebSocket(
        "ws://localhost:8001/agg/1"
      );

      DPSWebsocket.onopen = function(event) {
        console.log("Successfully connected to DPS Websocket server");
      };
      AGGWebsocket.onopen = function(event) {
        console.log("Successfully connected to AGG Websocket server");
      };

      DPSWebsocket.onerror = function(error) {
        console.log("Error connecting to DPS Websocket server");
        console.log(error);
      };
      AGGWebsocket.onerror = function(error) {
        console.log("Error connecting to AGG Websocket server");
        console.log(error);
      };

      DPSWebsocket.onmessage = function(event) {
        subscribers = JSON.parse(event.data);
        console.log(
          "<%s, %s, %s>",
          subscribers.appName,
          subscribers.queue.uno,
          subscribers.queue.dos
        );
        document.getElementById("app-name").innerText = subscribers.appName;

      };

      AGGWebsocket.onmessage = function(event) {
        subscribers = JSON.parse(event.data);
        document.getElementById("sum-uno").innerText = subscribers.uno;
        document.getElementById("avg-dos").innerText = subscribers.dos;
      };
    </script>
  </body>
</html>
